**/hls_output
.vscode
**/riscv_tests/master_example/discovery_kit/work
**/riscv_tests/master_example/**/component
**/riscv_tests/sin_performance/discovery_kit/work
**/riscv_tests/sin_performance/**/component
**/__pycache__
**/math/**/master_example/build
**/math/examples/**/*_reports
vision/demo_designs/PF_Video_kit/libero/vision_pipeline
vision/demo_designs/PF_Video_kit/libero/component
vision/precompiled_sw_libraries/ffmpeg4.4-x86_64
vision/precompiled_sw_libraries/opencv4.5.4-x86_64
