**/hls_output
.vscode
**/riscv_tests/master_example/discovery_kit/work
**/riscv_tests/master_example/**/component
**/riscv_tests/sin_performance/discovery_kit/work
**/riscv_tests/sin_performance/**/component
**/__pycache__
**/math/**/master_example/build
**/math/examples/**/*_reports
vision/demo_designs/PF_Video_kit/libero/vision_pipeline
vision/demo_designs/PF_Video_kit/libero/component
vision/precompiled_sw_libraries/ffmpeg4.4-x86_64
vision/precompiled_sw_libraries/opencv4.5.4-x86_64
vision/demo_designs/*/libero/vision_pipeline
vision/demo_designs/*/libero/src/component
vision/demo_designs/pfvk_brightness/sw/build
vision/demo_designs/pfsocvk_hdmi_rx_tx/**/*.log
vision/demo_designs/pfsocvk_hdmi_rx_tx/libero/src/MSS_SEV/*
vision/demo_designs/pfsocvk_hdmi_rx_tx/hls/**/*.map
**/SEVPFSOC_H264
vision/demo_designs/pfsocvk_hdmi_rx_tx/libero/transcript
vision/demo_designs/pfsocvk_hdmi_rx_tx/libero/identdebugger.log.bak*
vision/demo_designs/pfsocvk_hdmi_rx_tx/libero/wave.do
vision/demo_designs/pfsocvk_hdmi_rx_tx/hls/hdmi_pipeline/app/*.elf
vision/demo_designs/pfsocvk_hdmi_rx_tx/hls/hdmi_pipeline/app/*.elf
vision/demo_designs/pfsocvk_hdmi_rx_tx/libero/run_libero_synth.log
vision/demo_designs/pfsocvk_hdmi_rx_tx/libero/component/User/Private/hdmi_pipeline_top/1.0/hdmi_pipeline_top.xml
vision/demo_designs/pfsocvk_hdmi_rx_tx/component/User/Private/hdmi_pipeline_top/1.0/hdmi_pipeline_top.xml
build/
vision/demo_designs/pfvk_agc_color_brightness/libero/VIDEO_KIT_TOP_job.digest
vision/demo_designs/pfvk_agc_color_brightness/libero/VIDEO_KIT_TOP.job
vision/precompiled_sw_libraries/ffmpeg4.4-x86_64-linux/
vision/precompiled_sw_libraries/opencv4.5.4-x86_64-linux/
vision/precompiled_sw_libraries/ffmpeg4.4-x86_64-linux.tar.gz
vision/precompiled_sw_libraries/opencv4.5.4-x86_64-linux.tar.gz
vision/demo_designs/pfvk_agc_color_brightness/libero/libero_flow.log
